<%inherit file="/overall/base.html"/>

<%def name="drawCategory(category)" cached="False" buffered="True">
    <div class="row">
        <h3 class="title">${category['name']}</h3>
    </div>
    <div class="row row-deck row-cards mb-4">
        <%
            hasRows = False
        %>
        % for target in category['targets']:
            <%
                import utils
                
                if 'observers' in target and observerName not in target['observers']:
                    continue
                
                hasRows = True
                path = utils.getPath(category, target)
            %>
            
            ${drawTargetRow(path, target)}
        % endfor
        
        <%
            if not hasRows:
                return ""
        %>
    </div>
</%def>

<%def name="drawTargetRow(targetKey, target)" cached="False">
    <div class="col col-md-4">
        <div class="card target" data-path="${targetKey}">
            <div class="card-status-start bg-secondary"></div>
            <div class="card-body">
                <div class="target-title">
                    <i class="ti ti-help-octagon text-secondary"></i>
                    <div class="flex-fill">
                        <h3 class="card-title mb-0">${target['name']}</h3>
                        <span class="text-muted">
                            % if 'host' in target:
                                ${target['host']}
                            % elif 'url' in target:
                                ${target['url']}
                            % endif
                            % if 'address' in target:
                                (${target['address']})
                            % endif
                        </span>
                    </div>
                </div>
                % if target['type'] == 'ping':
                    <div class="row">
                        <div class="col-3 subheader text-center">
                            min
                        </div>
                        <div class="col-4 subheader text-center">
                            avg
                        </div>
                        <div class="col-3 subheader text-center">
                            max
                        </div>
                        <div class="col-2 subheader text-center">
                            loss
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-center ping-min-value">
                            n/a
                        </div>
                        <div class="col-4 status-important text-center ping-avg-value">
                            n/a
                        </div>
                        <div class="col-3 text-center ping-max-value">
                            n/a
                        </div>
                        <div class="col-2 text-center ping-loss-value">
                            n/a
                        </div>
                    </div>
                % else:
                    <div class="row">
                        <div class="col-3 subheader text-center">
                            time
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 status-important text-center request-time-value">
                            n/a
                        </div>
                    </div>
                % endif
            </div>
            <div class="target-chart chart-sm" style="min-height: 40px;"></div>
        </div>
    </div>
</%def>

<%page cached="False"/>

<div class="container-xl">
    % for category in targets:
        ${drawCategory(category)}
    % endfor
</div>

<%block name="javascripts">
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta19/dist/libs/apexcharts/dist/apexcharts.min.js" defer></script>
    <script>
        $(document).ready(function () {
            distPingInitializeWebsocket('ws', '${webIpAddress}:${webPort}', function (message) {
                if (message.type === 'status-update') {
                    updateStatus(message);
                } else if (message.type === 'observer-count-update') {
                    updateObserverCount(message);
                }
            });

            $('.target-chart').each(function () {
                let chart = new ApexCharts($(this)[0], {
                    chart: {
                        type: "area",
                        fontFamily: 'inherit',
                        height: 40.0,
                        parentHeightOffset: 15,
                        sparkline: {
                            enabled: true
                        },
                        animations: {
                            enabled: false
                        },
                    },
                    dataLabels: {
                        enabled: false,
                    },
                    fill: {
                        opacity: .16,
                        type: 'solid'
                    },
                    stroke: {
                        width: 2,
                        lineCap: "round",
                        curve: "smooth",
                    },
                    series: [{
                        name: "Time",
                        data: []
                    }],
                    tooltip: {
                        theme: 'dark',
                        x: {
                            format: 'HH:mm:ss'
                        }
                    },
                    grid: {
                        strokeDashArray: 4,
                        padding: {
                            top: 5,
                        }
                    },
                    xaxis: {
                        labels: {
                            padding: 0,
                            datetimeUTC: false
                        },
                        tooltip: {
                            enabled: false
                        },
                        axisBorder: {
                            show: false,
                        },
                        type: 'datetime',
                        min: (new Date()).getTime() - (5 * 60 * 1000)
                    },
                    yaxis: {
                        min: 0,
                        labels: {
                            padding: 4
                        },
                    },
                    colors: [tabler.getColor("primary")],
                    legend: {
                        show: false,
                    },
                });
                chart.render();

                $(this).data('chart', chart);
            });
        });
    </script>
</%block>
