<%inherit file="/overall/base.html"/>

<%def name="drawCategory(category)" cached="False" buffered="True">
    <div class="row">
        <h3 class="title">${category['name']}</h3>
    </div>
    <div class="row row-deck row-cards mb-4">
        <%
            hasRows = False
        %>
        % for target in category['targets']:
            <%
                import utils
                
                if 'observers' in target and observerName not in target['observers']:
                    continue
                
                hasRows = True
                path = utils.getPath(category, target)
            %>
            
            ${drawTargetRow(path, target)}
        % endfor
        
        <%
            if not hasRows:
                return ""
        %>
    </div>
</%def>

<%def name="drawTargetRow(targetKey, target)" cached="False">
    <div class="col col-md-4">
        <div class="card target" data-path="${targetKey}">
            <div class="card-status-start bg-secondary"></div>
            <div class="card-body">
                <div class="target-title">
                    <i class="ti ti-help-octagon text-secondary"></i>
                    <div class="flex-fill">
                        <h3 class="card-title mb-0">${target['name']}</h3>
                        <span class="text-muted">
                            % if 'host' in target:
                                ${target['host']}
                            % elif 'url' in target:
                                ${target['url']}
                            % endif
                            % if 'address' in target:
                                (${target['address']})
                            % endif
                        </span>
                    </div>
                </div>
                % if target['type'] == 'ping':
                    <div class="row">
                        <div class="col-3 subheader text-center">
                            min
                        </div>
                        <div class="col-4 subheader text-center">
                            avg
                        </div>
                        <div class="col-3 subheader text-center">
                            max
                        </div>
                        <div class="col-2 subheader text-center">
                            loss
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-center ping-min-value">
                            n/a
                        </div>
                        <div class="col-4 status-important text-center ping-avg-value">
                            n/a
                        </div>
                        <div class="col-3 text-center ping-max-value">
                            n/a
                        </div>
                        <div class="col-2 text-center ping-loss-value">
                            n/a
                        </div>
                    </div>
                % else:
                    <div class="row">
                        <div class="col-3 subheader text-center">
                            time
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 status-important text-center request-time-value">
                            n/a
                        </div>
                    </div>
                % endif
            </div>
        </div>
    </div>
</%def>

<%page cached="False"/>

<div class="container-xl">
    % for category in targets:
        ${drawCategory(category)}
    % endfor
</div>

<%block name="javascripts">
    <script>
        $(document).ready(function () {
            distPingInitializeWebsocket('ws', '${webIpAddress}:${webPort}', function (message) {
                if (message.type === 'status-update') {
                    updateStatus(message);
                } else if (message.type === 'observer-count-update') {
                    updateObserverCount(message);
                }
            });
        });
    </script>
</%block>
