{
    "interval": 30,
    "host": {
        "name": "test-observer",
        "data": {
            "ipAddress": "0.0.0.0",
            "port": 8678
        },
        "web": {
            "ipAddress": "0.0.0.0",
            "port": 8680
        }
    },
    "directory": {
        "data": "/opt/DistPing/data/db.pdl"
    },
    "check": {
        "interval": 30,
        "numberOfPackets": 4
    },
    "observers": [
        {
			"name": "test-observer",
            "ipAddress": "192.168.0.6",
            "port": 8678
        },
        {
			"name": "observer-2",
            "ipAddress": "192.168.0.7",
            "port": 8678
        }
    ],
    "tree": [
        {
            "name": "test-servers",
            "nodes": [
                {
                    "name": "test-server",
                    "host": "server.test.com"
                }
            ]
        },
        {
            "name": "global",
            "nodes": [
                {
                    "name": "google.com",
                    "host": "www.google.com"
                }
            ]
        }
    ],
    "actions": [
        {
            "type": "webhook",
            "url": "http://test.com/webhook?name=$name&host=$host&status=$status"
        }
    ],
    "users": {
        "admin": "password"
    }
}