{
    "observerName": "observer1",
    "server": {
        "ipAddress": "0.0.0.0",
        "port": 8680,
        "ssl": {
            "enabled": false,
            "certificate": "",
            "privateKey": "",
            "certificateChain": ""
        },
        "logs": {
            "coreLogLevel": "INFO",
            "coreLogFile": "/path-to/logs/core.log",
            "accessLogFile": "/path-to/logs/access.log",
            "errorLogFile": "/path-to/logs/error.log"
        }
    },
    "directory": {
        "data": "/path-to/data/db.pdl"
    },
    "users": {
        "admin": "$6$ZXRMbpRn47Cw/4cl$V6meeR8UN7BCmaFtEeq1dwijcOSLpfreIZlef2/o1/.3uEmJBkO3bF3dEY1q/sLDDFQEVcmtAk31IsRRDfzQg0"
    }
}
