{
    "version": "18.02.04.001",
    "secretKey": "secret",
    "check": {
        "interval": 30,
        "threads": 5
    },
    "ping": {
        "numberOfPackets": 4,
        "initialTimeout": 1000,
        "packetInterval": 200
    },
    "http": {
        "timeout": 5
    },
    "port": {
        "timeout": 5
    },
    "analysis": {
        "timeInterval": 30,
        "thresholdDown": 60,
        "thresholdUnstable": 40
    },
    "observers": {
        "observer1": {
            "url": "ws://127.0.0.1:8680/ws"
        },
        "observer2": {
            "url": "ws://127.0.0.2:8780/ws"
        }
    },
    "targets": [
        {
            "key": "example-group",
            "name": "Example Group",
            "targets": [
                {
                    "key": "ping-www.example.com",
                    "type": "ping",
                    "name": "Example Website",
                    "host": "www.example.com"
                },
                {
                    "key": "ping-google.com",
                    "type": "ping",
                    "name": "google.com",
                    "host": "www.google.com"
                },
                {
                    "key": "port-smtp",
                    "type": "port",
                    "name": "smtp.example.com Port 25",
                    "port": 25,
                    "host": "smtp.example.com"
                },
                {
                    "key": "example-is-online",
                    "type": "http",
                    "name": "Example.com Online",
                    "url": "https://www.example.com",
                    "keyword": "Example Domain",
                    "fails": "if-not-exists"
                }
            ]
        }
    ],
    "actions": [
        {
            "event": "target-analysis-finished",
            "type": "webhook",
            "contentType": "json",
            "name": "Example Collector",
            "url": "http://example.com/webhook-collect"
        },
        {
            "event": "status-changed",
            "type": "webhook",
            "contentType": "json",
            "name": "Example Alert",
            "url": "http://example.com/webhook-alert"
        },
        {
            "event": "status-changed",
            "type": "script",
            "contentType": "json",
            "name": "Example Script Alert",
            "command": "/opt/DistPing/scripts/test.sh"
        }
    ]
}
