{
    "version": "18.02.04.001",
    "secretKey": "secret",
    "check": {
        "interval": 30,
        "numberOfPackets": 4,
        "initialTimeout": 1000,
        "packetInterval": 200
    },
    "analysis": {
        "timeInterval": 30,
        "thresholdDown": 60,
        "thresholdUnstable": 40
    },
    "observers": {
        "observer1": {
            "url": "ws://127.0.0.1:8680/ws"
        },
        "observer2": {
            "url": "ws://127.0.0.2:8780/ws"
        }
    },
    "targets": [
        {
            "name": "Example Group",
            "targets": [
                {
                    "name": "Example Website",
                    "host": "www.example.com"
                },
        
                {
                    "name": "google.com",
                    "host": "www.google.com"
                }
            ]
        }
    ],
    "actions": [
        {
            "event": "target-analysis-finished",
            "type": "webhook",
            "contentType": "json",
            "name": "Example Collector",
            "url": "http://example.com/webhook-collect"
        },
        {
            "event": "status-changed",
            "type": "webhook",
            "contentType": "json",
            "name": "Example Alert",
            "url": "http://example.com/webhook-alert"
        },
        {
            "event": "status-changed",
            "type": "script",
            "contentType": "json",
            "name": "Example Script Alert",
            "command": "/opt/DistPing/scripts/test.sh"
        }
    ]
}
